.cadastro {
  max-width: 500px;
  margin: 32px auto;
  padding: 32px;
  background-color: var(--secondaryBackground);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--textColor);
}
.cadastro h1 {
  text-align: center;
  margin-bottom: 24px;
}
.cadastro form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cadastro label {
  font-weight: bold;
}
.cadastro input[type="text"],
.cadastro input[type="email"],
.cadastro input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--tertiaryBackground);
  color: var(--textColor);
}
.cadastro button {
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--quinaryBackground);
  cursor: pointer;
  transition: border-color 0.25s;
}
.cadastro button:hover {
  opacity: 0.9;
  border-color: var(--sixnaryBackground);
}
.cadastro button:focus,
.cadastro button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}