.roleSelection {
  border: 1px solid var(--border-color);
  padding: 16px;
  border-radius: 4px;
}
.roleSelection p {
  font-weight: bold;
}
.roleSelection div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.roleSelection label {
  font-weight: normal;
}
.manageSection {
  margin-bottom: 5rem;
}