main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

img {
  max-width: 40%;
}